body {
  background-color: lavender;
}

form {
  display: flex;
  column-gap: 10px;
}

button {
  cursor: pointer;
  margin-block: 10px;
}

#loader-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
}

span {
  display: block;
  height: 100%;
}

#loader {
  height: 30px;
  width: 80%;
  background-color: plum;
}

#loader-outer {
  background-color: blueviolet;
  animation: progressBar 1.5s;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#location,
#current-day {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

#days-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-inline: 50px;
  margin-top: 10px;
  visibility: hidden;
}

.day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  border: 1px solid blueviolet;
  background-color: aquamarine;
  max-width: 200px;
}

#temperature-button {
  visibility: hidden;
}
